@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: "Roboto Slab", serif;
}

.light-theme {
    --body-color: #ededed;
    --search-button-bg-color: #780101;
    --search-button-fg-color: #e1d1d1;
    --movie-card-text-color: #1f2123;
    --movie-card-color: #e1d1d1;
}


.dark-theme {
    --body-color: #131212;
    --search-button-bg-color: #1f2123;
    --search-button-fg-color: #e1d1d1;
    --movie-card-text-color: #e1d1d1;
    --movie-card-color: #780101;
}
  

body {
    font-family: var(--font-roboto);
}

.app {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--body-color);
    width: 100vw;
    min-height: 100vh;
}

h1 {
    font-size: 4.5rem;
    letter-spacing: 0.9px;
    color: #780101;
}

h1:hover {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    transform: scale(1.05, 1.05);
}

.search {
    width: 80%;
    margin: 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.75rem;
    border-radius: 3rem;
    background: #e1d1d1;
}

.search input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-roboto);
    font-weight: 500;
    padding-right: 1rem;
    outline: none;
    color: #2e3033;
    background: #e1d1d1;
}

.search button {
    padding: 15px 30px;
    border-radius: 0.5rem;
    margin-left: 15px;
    color: var(--search-button-fg-color);
    font-family: var(--font-raleway);
    font-weight: 900;
    letter-spacing: 0.75px;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 3rem;
    background: var(--search-button-bg-color);
}

button:hover {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    transform: scale(1.05, 1.05);
}

.empty {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.empty h2 {
    font-size: 1.25rem;
    color: #e1d1d1;
    font-family: var(--font-raleway);
}

.container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie {
    width: 310px;
    height: 460px;
    margin: 1.5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}

.movie div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    font-weight: 700;
    top: 0;
    color: var(--movie-card-text-color);
}

.movie:hover {
    transform: scale(1.05, 1.05);
}
  
.movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }
  
.movie div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
}
  
.movie div:nth-of-type(3) {
    z-index: 2;
    background-color: var(--movie-card-color);
    padding: 16px 24px 24px 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
  
.movie div:nth-of-type(3) span {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--movie-card-text-color);
}
  
.movie div:nth-of-type(3) h3 {
    margin-top: 5px;
    font-family: "Roboto Slab", serif;
    color: var(--movie-card-text-color);
}
  
.movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
}
  
.movie:hover div:nth-of-type(3) {
    background-color: transparent;
}
  
.movie:hover div:nth-of-type(1) {
    opacity: 1;
}

#theme {
    background-color: var(--search-button-bg-color);
    color: var(--search-button-fg-color);
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 50px;
    font-family: var(--font-roboto);
    font-weight: 700px;
}


@media screen and (max-width: 600px) {
    .app {
      padding: 4rem 2rem;
    }
  
    .search {
      padding: 1rem 1.75rem;
      width: 100%;
    }
  
    .search input {
      font-size: 1rem;
    }
  
    .search img {
      width: 20px;
      height: 20px;
    }
}
  
@media screen and (max-width: 400px) {
    .app {
      padding: 4rem 1rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .container {
      margin-top: 2rem;
    }
  
    .movie {
      width: "100%";
      margin: 1rem;
    }
}